/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
}

/* Game Container */
#gameContainer {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    margin: 50px auto;
}

/* Cell */
.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #333;
    box-shadow: 0 0 0 0 2px #333;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

/* Cell Container */
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    width: 225px;
    margin: auto;
}

/* Add hover effect for better user interaction */
.cell:hover {
    background-color: #ddd;
}

/* Status Text */
#statusText {
    margin-top: 20px;
    font-size: 18px;
}

/* Restart Button */
#restartBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#restartBtn:hover {
    background-color: #555;
}